@font-face
{
    font-family: 'Seaside Resort';

    src: url('../../Release/assets/fonts/SeasideResort.ttf');
}

@font-face
{
    font-family: 'Geo';

    src: url('../../Release/assets/fonts/Geo.otf');
}
